* {
  cursor: url('/black-cursor/cursor.cur'), auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #2d59fa;
  --primary-hover: #0037ff;
  --bg: #f7f8f9;
  --secondary: #feffff;
  --dropzone-bg: #fff;
  --gray: #d3d3d3;
  --border: #edf1f3;
  --headline: #211e30;
  --text: #0a090c;
  --primary-text: #f2f7fe;
  --dropzone-over: #f2f7fe;
}

body {
  font-family: 'Worl Sans' sans-serif;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  color: var(--text);
}